#container
{
	width: 500px;
	margin: 0 auto;
}

#btnContainer
{
	padding-top: 30px;
	width: 270px;
	margin: 0 auto;
	clear: both;
}

#submitBtn {
  background-color: #144dd0;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}